<!DOCTYPE html>
<html>
  <head>
      <title>Simple Payments (for educational purposes only!)</title>
      <link rel="stylesheet" href="{{MEDIA_URL}}css/payment.css" />
  </head>
  <body>
     <div id="page">
      <div id="header">
          <h1><span class="money">&euro;&euro;&euro;</span> Simple Payments <span class="money">&euro;&euro;&euro;</span></h1>
          <h2>For purely educational purposes since 2010!</h2>
      </div>
      <div id="content">
{% block content %}
{% endblock %}
      </div>
    </div>
  </body>
</html>
          