{% extends 'base.html' %}
{% block content %}
<h2>Usage Instructions</h2>
<p>This site is intended for an extremely simple external service used in the project to simulate payments. It is modeled after a real payment system of a bank. There are three steps that you need to do to use it:</p>

<h3>Step 1: Get a secret key</h3>
<p>To use the service, you need to get a secret key for yourself. You can get one <a href="{% url paymentapi.views.secret_key %}">here</a>. Just input your seller id (sid) and submit the form to get your secret
    key.</p>
<p class="note"><strong>Note:</strong> the seller id can be any string, but it should be unique among groups so
    make sure to select one only your group would think.</p>

<h3>Step 2: Make a payment request</h3>
<p>Payment requests are made through HTTP POST requests to URL (make sure you include the / at the end): <code>http://REPLACE WITH YOUR URL{%url paymentapi.views.pay %}</code></p>
<p>The request should have the following parameters:</p>
<table>
    <thead>
        <tr><th>Name</th><th>Description</th></tr>
    </thead>
    <tbody>
        <tr><td>pid</td><td>Payment id used in <strong>your</strong> service to identify this payment (alphabets [a-z, A-Z] and numbers only)</td></tr>
        <tr><td>sid</td><td>Seller id that you used to generate your secret key (alphabets [a-z, A-Z] and numbers only)</td></tr>
        <tr><td>amount</td><td>The amount of the payment (decimal number, maximum of two decimals and 9 digits in total)</td></tr>
        <tr><td>success_url</td><td>The <em>absolute</em> url to call on your service after a successful payment</td></tr>
        <tr><td>cancel_url</td><td>The <em>absolute</em> url to call on your service after a user cancelled a payment</td></tr>
        <tr><td>error_url</td><td>The <em>absolute</em> url to call on your service after a payment failed</td></tr>
        <tr><td>checksum</td><td>A security checksum calculated using your secret key (see below)</td></tr>
    </tbody>
</table>

<h4>Calculating the checksum</h4>
<p>The checksum is calculated from pid, sid, amount, and your secret key. The string is formed like this:</p>
<pre>"pid=%s&amp;sid=%s&amp;amount=%s&amp;token=%s"%(pid, sid, amount, secret_key)</pre>
<p>The checksum is then the MD5-hash of the above string. In Python:</p>
<pre>import md5
# checksumstr is the string concatenated above
m = md5.new(checksumstr)
checksum = m.hexdigest()
# checksum is the value that should be used in the payment request</pre>

<h4>Example Form</h4>
<p>For example, the form rendered on your site can look like the following:</p>
<pre>
&lt;form action="http://REPLACE WITH YOUR URL{% url paymentapi.views.pay %}" method="POST">
    &lt;input type="hidden" name="pid" value="payment1" />
    &lt;input type="hidden" name="sid" value="groupBest" />
    &lt;input type="hidden" name="success_url" 
            value="http://localhost:8000/payment/success" />
    &lt;input type="hidden" name="cancel_url" 
            value="http://localhost:8000/payment/cancel" />
    &lt;input type="hidden" name="error_url" 
            value="http://localhost:8000/payment/error" />
    &lt;input type="hidden" name="checksum" 
            value="ee306a1dec60d40534391106f7855434" />

    &lt;label for="id_amount">Amount&lt;/label> 
    &lt;input type="text" id="id_amount" name="amount" value="5" />
    &lt;input type="submit" value="Accept Payment"/>
&lt;/form>
</pre>
<p>You can also test with the <a href="{% url paymentapi.views.test %}">test form</a>.

<h3>Step 3: Handle the payment result</h3>
<p>When the form is posted in step 2, the user will see details of the payment and can either cancel or accept the payment. In real world service, this is where the user would authenticate to the payment service. To keep things simple, we have no such authentication.</p>

<p>Depending on the user's choice whether to accept or cancel the payment, the user will be redirected to either the <code>success_url</code> or <code>cancel_url</code> you provided with the POST request.</p>

<p class="note"><strong>Note:</strong> While developing, you can also pass parameter <code>dev</code> with any value with the payment request. In this case, you will also have the choice of failing the payment and thus calling the <code>error_url</code>. This helps you to test with failing payments.</p>

<p>The request to error, cancel, or success urls will be an HTTP GET request with the following parameters:</p>
<table>
    <thead>
        <tr><th>Name</th><th>Description</th></tr>
    </thead>
    <tbody>
        <tr><td>pid</td><td>The payment id you specified</td></tr>
        <tr><td>ref</td><td>Reference number for the payment generated by the payment service</td></tr>
        <tr><td>checksum</td><td>Security string for the request</td></tr>
    </tbody>
</table>
<p>The security string is calculated like:</p><pre>"pid=%s&ref=%s&token=%s"%(pid, ref, secret_key)</pre><p>The secret key is again the secret key for your seller id.</p>

{% endblock %}